# Test Report - Sweet Service Test

**Date:** July 17, 2025  
**Duration:** 1 sec 29 ms  
**Total Tests:** 22  
**Passed:** 22  
**Failed:** 0   

## Coverage Information
- **Class Coverage:** 100% (1/1)
- **Method Coverage:** 100% (14/14)  
- **Line Coverage:** 100% (71/71)

## Test Results

### SweetServiceTest (com.incubyte.sweetshop.service)
- shouldThrowExceptionOnAddingDuplicateSweets
- shouldThrowExceptionIfSweetNotFoundToRestock  
- shouldReturnSortedListOfSweetsByQuantityAscending
- shouldReturnAllSweetsFromGivenCategory
- shouldAddSweetSuccessfullyToShop
- shouldReturnSweetWhenSearchedByName
- shouldRestockSweetSuccessfully
- shouldReturnSortedListOfSweetsByQuantityDescending
- shouldDeleteSweetByNameSuccessfully
- shouldThrowExceptionWhenDeletingNonExistingSweet
- shouldReturnSweetFromGivenCategory
- shouldReturnSweetWithinGivenPriceRange
- shouldThrowExceptionIfStockNotAvailable
- shouldPurchaseSweetSuccessfullyAndReduceStock
- shouldDeleteSweetSuccessfullyFromShop
- shouldThrowExceptionWhenDeletingNonExistingSweetByName
- shouldReturnSweetFromGivenCategory
- shouldReturnSortedListAscendingBySweetsByPrice
- shouldReturnSortedListDescendingBySweetsByPrice
- shouldThrowExceptionWhenDeletingNonExistingSweet
- shouldReturnAllSweetsFromShop
- shouldReturnSweetWhenSearchedByCaseInsensitiveName

## Summary
All tests passed successfully! 
- Screenshot of this is attached to screenshots folder

**Environment:**
- Java Version: JDK 21
- IDE: IntelliJ IDEA  
- Framework: JUnit 5
- Build Tool: Maven
  
---
*Generated on: July 17, 2025*
